.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  color: #fff;
  padding: 60px 80px;
  font-size: 16px;
  line-height: 20px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__columns-content {
  margin-left: 80px;
}
.footer__image-logo {
  width: 57px;
  height: 80px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  margin: 0 0 16px;
}
.footer__last-item:last-child {
  margin: 0;
}
.footer__column-heading {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
}
.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  gap: 10px;
}
.footer__column-link:hover {
  color: #c1c1c1;
  cursor: pointer;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
}
.footer__copyright {
  margin: 108px 0 0;
}