.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/se_project_2_files/background_header.svg);
  background-size: cover;
}
.header__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  max-width: 729px;
  font-style: 400;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}
.header__span-accent {
  display: block;
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}
.header__description {
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin: 32px 0 0;
  max-width: 683px;
}
.header__image {
  /* heaer__image:Position the header image absolutely within the header container */

  z-index: 1;
  max-width: 550px;
  top: 148px;
  right: 48px;
  position: absolute;
  background: url(../images/se_project_2_files/background_header.svg);
}
.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.header__hours-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #6f6f6f;
  text-decoration: none;
  line-height: 20px;
  display: block;
  padding: 10px 15px;
  font-weight: 500;
}
.header__link:hover {
  color: #d35722;
  cursor: pointer;
}
.header__paragraph {
  margin: 0;
  color: #838383;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__logo {
  position: relative;
  left: -50px;
}
.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}
.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.nav__link:hover {
  color: #d35722;
  cursor: pointer;
}
.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/se_project_2_files/background_recipes.svg);
  color: white;
}
.recipes__title {
  margin: 0;
}
.recipes {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  background-color: #0a2750;
  background-size: cover;
}
.reservation {
  background-image: url();
}
.reservation {
  padding: 100px 0 120px;
  background-image: url("projects/se_project_coffeeshop/images/se_project_2_files/background_reservation.svg");
  background-position: center;
  background-size: cover;
}
.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.recipes__video-caption {
  margin: 24px 0 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.recipes__subtitle {
  margin-top: 24px;
  margin-bottom: 80px;
  max-width: 438px;
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  padding: 100px 0 120px;
  background-size: cover;
  background-image: url(../images/se_project_2_files/background_reservation.svg);
}
.reservation__title {
  margin: 0 0 80px;
  text-align: center;
}
.form {
  width: 385px;
}
.reservation__form {
  margin: 0 auto;
}
.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin-top: 8px;
  height: 45px;
  border-radius: 4px;
  text-indent: 10px;
}
.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  height: 45px;
  background-color: #2f80ed;
  color: black;
}
.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.form__label {
  margin-bottom: 32px;
  display: block;
}
.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}
.menu {
  padding: 100px 0 100px;
}
.menu {
  background-color: white;
  background-size: cover;
  background-image: url(../images/se_project_2_files/background_menu.svg);
  justify-content: center;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
}
.menu__subtitle {
  text-align: center;
  margin: 0 0 100px;
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.card {
  width: 475px;
}

.card__list {
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list-item {
  display: flex;
}
.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
.about {
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  padding: 0 80px;
  display: flex;
}
.about__title {
  padding: 100px 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
  max-width: 251px;
  margin: 0;
}
.about__paragraph {
  padding: 119px 80px 173px 20px;
  max-width: 660px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.about__image {
  position: absolute;
  width: 703px;
  top: 152px;
  left: 129px;
}
.about__circle {
  width: 426px;
  height: 426px;
  background-color: #1878dc;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}
.footer {
  box-sizing: border-box;
  background-color: #0a2850;
  color: #fff;
  padding: 60px 80px;
  font-size: 16px;
  line-height: 20px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__columns-content {
  margin-left: 80px;
}
.footer__image-logo {
  width: 57px;
  height: 80px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  margin: 0 0 16px;
}
.footer__last-item:last-child {
  margin: 0;
}
.footer__column-heading {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
}
.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  gap: 10px;
}
.footer__column-link:hover {
  color: #c1c1c1;
  cursor: pointer;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
}
.footer__copyright {
  margin: 108px 0 0;
}
.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}
